<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bukly</title>
    <style type="text/css" media="screen">
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      iframe {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <iframe id="theFrame" src="http://docs.bukly.apiary.io/" frameborder="0"></iframe>
  </body>
</html>
